httpx==0.27.0
pydantic==2.6.0
pydantic-settings==2.2.0
google-api-python-client==1.7.12
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
python-dotenv==1.0.0
requests==2.31.0
asyncpg
sqlalchemy[asyncio]==2.0.27

# cianparser dependencies
cloudscraper
beautifulsoup4
transliterate
lxml
curl-cffi
